.bi-modal {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  min-width: 320px;
  z-index: 999999;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}
.bi-modal-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.5);
}
.bi-modal__inner {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  z-index: 99994;
  overflow: hidden;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}
.bi-modal__inner__i {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  padding: 6px;
  overflow: auto;
  text-align: center;
  -webkit-overflow-scrolling: touch;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  white-space: normal;
  z-index: 99994;
}
.bi-modal__inner__i:before {
  content: "";
  display: inline-block;
  font-size: 0;
  height: 100%;
  vertical-align: middle;
  width: 0;
}
.bi-modal-popup {
  display: inline-block;
  position: relative;
  width: 900px;
  max-width: 98%;
  margin: 0 auto;
  background: #fff;
  padding: 30px 0;
  vertical-align: middle;
  text-align: left;
}
@media only screen and (max-width: 767px) {
  .bi-modal-popup {
    padding: 50px 0 30px;
  }
}
.bi-modal .bi-modal-close {
  position: absolute;
  right: 20px;
  top: 20px;
}
.bi-modal .bi-modal-close i {
  display: block;
  font-size: 15px;
  color: #000;
}

.ie-popup-wrap {
  max-width: 682px;
  padding: 0 15px;
  margin: 0 auto;
}

.ie-popup h3 {
  font-size: 21px;
  font-weight: bold;
  line-height: 25px;
  color: #000;
  text-align: center;
  margin: 0 0 30px;
}

.ie-popup__title {
  margin-bottom: 30px;
  padding: 0 15px;
}
.ie-popup__title h2 {
  font-size: 24px;
  line-height: 28px;
  color: #000;
  font-weight: bold;
  text-align: center;
  margin: 0;
}
.ie-popup__title p {
  font-size: 15px;
  line-height: 18px;
  color: #000;
  text-align: center;
  margin-bottom: 3px;
}
@media only screen and (max-width: 767px) {
  .ie-popup__title p {
    margin-bottom: 6px;
  }
}

.ie-popup__previews {
  padding: 15px 0;
  background: #e9e9e9;
  margin-bottom: 25px;
}
.ie-popup__previews__i {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.ie-popup__previews__item {
  position: relative;
  width: -webkit-calc(100% / 4 - 12px);
  width: calc(100% / 4 - 12px);
  background: #fff;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  overflow: hidden;
}
.ie-popup__previews__item:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}
.ie-popup__previews__item:nth-child(2) img {
  -webkit-transform: translate(-36%, -50%);
  -ms-transform: translate(-36%, -50%);
  transform: translate(-36%, -50%);
}
.ie-popup__previews__item:nth-child(3) img {
  -webkit-transform: translate(-78%, -35%);
  -ms-transform: translate(-78%, -35%);
  transform: translate(-78%, -35%);
}
@media only screen and (max-width: 767px) {
  .ie-popup__previews__item:nth-child(3) img {
    -webkit-transform: translate(-42%, -50%);
    -ms-transform: translate(-42%, -50%);
    transform: translate(-42%, -50%);
  }
}
.ie-popup__previews__item:nth-child(4) img {
  -webkit-transform: translate(-40%, -50%);
  -ms-transform: translate(-40%, -50%);
  transform: translate(-40%, -50%);
}
.ie-popup__previews__item img {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
@media only screen and (max-width: 767px) {
  .ie-popup__previews__item img {
    max-width: 60%;
  }
}

.ie-popup__advantages {
  margin-bottom: 35px;
}
.ie-popup__advantages__i {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 -10px;
}
.ie-popup__advantages__item {
  width: 50%;
  padding: 0 10px;
  margin-bottom: 20px;
}
@media only screen and (max-width: 767px) {
  .ie-popup__advantages__item {
    width: 100%;
    padding: 0;
  }
  .ie-popup__advantages__item:last-child {
    margin-bottom: 0;
  }
}
.ie-popup__advantages__item__title {
  font-size: 14px;
  font-weight: bold;
  line-height: 18px;
  color: #000;
  margin-bottom: 8px;
  position: relative;
}
@media only screen and (max-width: 767px) {
  .ie-popup__advantages__item__title {
    text-align: center;
  }
}
.ie-popup__advantages__item__title:before {
  content: "\f00c";
  color: #eeb316;
  font: normal normal normal 14px/1 FontAwesome;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  margin-right: 3px;
}
.ie-popup__advantages__item__text {
  font-size: 12px;
  line-height: 18px;
  color: #000;
}
@media only screen and (max-width: 767px) {
  .ie-popup__advantages__item__text {
    text-align: center;
  }
}

.ie-popup__browsers__i {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
@media only screen and (max-width: 767px) {
  .ie-popup__browsers__i {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}

@media only screen and (max-width: 767px) {
  .ie-popup__browsers__item {
    width: 50%;
    margin-bottom: 20px;
  }
  .ie-popup__browsers__item:last-child {
    margin-bottom: 0;
  }
}

.ie-popup__browsers__item a {
  display: block;
}

.ie-popup__browsers__item__img {
  min-height: 64px;
  margin-bottom: 6px;
}

.ie-popup__browsers__item img {
  display: block;
  margin: 0 auto;
}

.ie-popup__browsers__item p {
  font-size: 12px;
  line-height: 15px;
  color: #000;
  text-align: center;
}
.ie-popup__browsers__item p span {
  display: block;
  font-weight: bold;
}
