/* line 1, styles.scss */
.main {
  background-color: #808080; }

/* line 4, styles.scss */
.browser-notice {
  background-color: #ffffff;
  margin: 0 auto;
  color: #000000;
  font-family: 'Raleway', sans-serif;
  line-height: 1.3;
  display: none;
  z-index: 9999;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-y: scroll; }
  @media screen and (min-width: 992px) {
    /* line 4, styles.scss */
    .browser-notice {
      top: 8%;
      bottom: 60px;
      left: 50%;
      transform: translateX(-50%);
      right: auto;
      max-width: 70%;
      max-height: 85%; } }
  /* line 29, styles.scss */
  .browser-notice .close-notice {
    width: 30px;
    height: 30px;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 2; }
    /* line 38, styles.scss */
    .browser-notice .close-notice::before, .browser-notice .close-notice::after {
      background-color: #414141;
      content: '';
      position: absolute;
      left: 14px;
      height: 14px;
      top: 8px;
      width: 2px; }
    /* line 49, styles.scss */
    .browser-notice .close-notice::before {
      transform: rotate(45deg); }
    /* line 53, styles.scss */
    .browser-notice .close-notice::after {
      transform: rotate(-45deg); }
  /* line 58, styles.scss */
  .browser-notice .container {
    padding: 15px 10%; }
    @media screen and (min-width: 992px) and (max-width: 1099px) {
      /* line 58, styles.scss */
      .browser-notice .container {
        padding: 20px 5%; } }
    @media screen and (min-width: 1100px) and (max-width: 1499px) {
      /* line 58, styles.scss */
      .browser-notice .container {
        padding: 20px 10%; } }
    @media screen and (min-width: 1800px) {
      /* line 58, styles.scss */
      .browser-notice .container {
        padding: 20px 230px; } }
  /* line 74, styles.scss */
  .browser-notice h3 {
    font-size: 28px;
    font-weight: 700;
    text-align: center;
    margin: 10px 0; }
  /* line 81, styles.scss */
  .browser-notice .browser-notice__title {
    text-align: center; }
    /* line 84, styles.scss */
    .browser-notice .browser-notice__title h3 {
      font-size: 32px; }
    /* line 88, styles.scss */
    .browser-notice .browser-notice__title span {
      font-size: 20px;
      font-weight: 400; }
  /* line 94, styles.scss */
  .browser-notice .browser-notice__img {
    display: flex;
    justify-content: center;
    -ms-flex-pack: distribute;
    flex-wrap: wrap;
    background-color: #e9e9e9; }
    @media screen and (min-width: 992px) {
      /* line 94, styles.scss */
      .browser-notice .browser-notice__img {
        flex-wrap: nowrap; } }
    /* line 105, styles.scss */
    .browser-notice .browser-notice__img-item {
      min-width: 125px;
      height: auto;
      margin: 0 10px 10px; }
      @media screen and (min-width: 992px) {
        /* line 105, styles.scss */
        .browser-notice .browser-notice__img-item {
          width: 24%;
          max-width: 120px;
          height: auto;
          max-height: 120px; } }
      @media screen and (min-width: 1200px) {
        /* line 105, styles.scss */
        .browser-notice .browser-notice__img-item {
          max-width: 201px;
          max-height: 201px; } }
  /* line 125, styles.scss */
  .browser-notice .browser-notice__description .wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
  /* line 131, styles.scss */
  .browser-notice .browser-notice__description-item {
    line-height: 25px;
    margin-right: 20px; }
    @media screen and (min-width: 992px) {
      /* line 131, styles.scss */
      .browser-notice .browser-notice__description-item {
        width: 45%; } }
    /* line 139, styles.scss */
    .browser-notice .browser-notice__description-item:nth-child(2n) {
      margin-right: 0; }
    /* line 144, styles.scss */
    .browser-notice .browser-notice__description-item h4::before {
      content: '\f00c';
      display: inline-block;
      font-family: "Font Awesome\ 5 Free";
      color: #eeb316;
      margin-right: 5px; }
  /* line 157, styles.scss */
  .browser-notice .browser-offer .wrap {
    flex-wrap: wrap;
    justify-content: space-around;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-pack: distribute;
    -ms-flex-align: center;
    align-items: center;
    margin: 40px 0; }
    /* line 169, styles.scss */
    .browser-notice .browser-offer .wrap div {
      background-repeat: no-repeat;
      background-position: center top;
      text-align: center;
      margin: 0 auto 10px;
      width: 140px;
      height: 140px;
      flex: 0 0 150px;
      text-align: center; }
      /* line 179, styles.scss */
      .browser-notice .browser-offer .wrap div a {
        display: inline-block;
        margin-top: 93px;
        text-decoration: none; }
        /* line 184, styles.scss */
        .browser-notice .browser-offer .wrap div a span {
          display: block;
          line-height: 1.3;
          color: #000000;
          font-size: 15px; }
          /* line 190, styles.scss */
          .browser-notice .browser-offer .wrap div a span:nth-child(1) {
            font-weight: 700; }
          /* line 193, styles.scss */
          .browser-notice .browser-offer .wrap div a span:nth-child(2) {
            font-weight: 400; }

/* line 203, styles.scss */
.mc-modal-bg {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9995;
  height: 100%;
  width: 100%;
  display: none;
  background: #000;
  background-color: #000;
  opacity: .65;
  opacity: 0; }
